body {
    margin: 0;
}

.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navegador {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #1b1b1b;
}

.navLogo {
    justify-self: start;
    margin-left: 20px;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
}

.imgProductos {
    width: 150px;
    height: 150px;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.colorBoton {
    color: white;
    background-color: crimson;
}

.colorBoton:hover {
    background-color: darkred;
    color: white;
}